{% extends 'graminbazaar/template.html' %}
{% load static %}

{% block title %} Gramin Bazaar {% endblock %}
{% block content %}
  <div class="container main-container">
    <!-- Main component call to action -->
    <div class="morePost row featuredPostContainer style2 globalPaddingTop ">
      <div class="container" style="padding-top: 50px;">
        <div class="row xsResponse">
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/cow.jpeg' %}" alt="Animals" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> <a style="color:white;"> ANIMALS </a> </span> </div>
              </div>
            </div>
            <div class="description">
              <h3><a>ANIMALS (पशु)</a></h3>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/appliances.jpg' %}" alt="Appliances" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> APPLIANCES </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/vehicals.jpeg' %}" alt="Vehicals" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> VEHICALS </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/mobiles.jpeg' %}" alt="Mobiles" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> MOBILES </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/furniture.jpg' %}" alt="Furniture" class="img-responsive"></a><div class="promotion"> <span class="new-product"> FURNITURE </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/grains.jpeg' %}" alt="Grains" class="img-responsive"></a> <div class="promotion"> <span class="new-product"> GRAINS </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/fodder.jpeg' %}" alt="Fodder" class="img-responsive"></a> <div class="promotion"> <span class="new-product"> FODDER </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/bus.jpeg' %}" alt="Buses Timings" class="img-responsive"></a> <div class="promotion"> <span class="new-product"> BUSES TIMINGS </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/laburs.jpeg' %}" alt="Find Labur" class="img-responsive"></a> <div class="promotion"> <span class="new-product"> FIND LABUR </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/tent.jpeg' %}" alt="Functions" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> FUNCTIONS </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/doctor.jpeg' %}" alt="Find Doctor" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> FIND DOCTOR </span> </div>
              </div>
            </div>
          </div>
          <!--/.item-->
          <div class="item col-lg-3 col-md-3 col-sm-4 col-xs-6">
            <div class="product img-circle">
              <div class="image img-circle"> <a href=""><img src="{% static 'img/electronics.jpeg' %}" alt="Electronics" class="img-responsive"></a>
                <div class="promotion"> <span class="new-product"> ELECTRONICS </span> </div>
              </div>
            </div>
          </div>
          <!--/.item--> 
        </div>
        <!-- /.row -->
        
      </div>
      <!--/.container--> 
    </div>
    <!--/.featuredPostContainer-->
    
  </div>
  <!--main-container-->
{% endblock %}
